{% extends "base.html" %}

{% block title %}
    {{news.head}}
{% endblock title %}

{% block body %}

    <style>
        /* For heading responsiveness */
        .responsive-heading {
        font-size: 32px; /* Default for mobile */
        }
    
        @media (min-width: 768px) {
        .responsive-heading {
            font-size: 50px; /* Desktop */
        }
        }
    </style>
    <div>
        <div class="card mb-3">
            <p class="card-header text-center">
                {{news.date|date:"d F Y"}}
            </p>
            <div class="card-body">
                {% comment %} <h1 class="pt-1 text-capitalize" style='font-size: 50px'>{{news.head}}</h1>  {% endcomment %}
                <h1 class="pt-1 text-capitalize responsive-heading">{{ news.head }}</h1>
                {% comment %} <h1 class="pt-1 text-capitalize display-6 display-md-3">{{ news.head }}</h1> {% endcomment %}

                <i>
                    <h3 class="pt-1 text-start fw-medium">{{news.sub_head}}</h3>
                </i>
            </div>
            <div class="text-center">
                {% comment %} <img src="{{news.image_link}}" width="100%" class="img-fluid py-3" alt="Write review with id if image not availabe"> {% endcomment %}
                <!-- Responsive image sizing -->
                <div class="text-center">
                    <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6">
                        <img src="{{ news.image_link }}" class="img-fluid py-3" alt="Write review with id if image not available">
                        </div>
                    </div>
                    </div>
                </div>
  
            </div>
            <div class="card-body">
                <h3 class="text-start fw-normal" style="font-size: 25px;"> {{news.content|safe}}</h3>
            </div>
            
            <p class="card-footer text-center mb-0">{{news.sentiment}}</p>
        </div>
    </div>

{% endblock body %}
